.logo {
  will-change: filter;
  transition: filter 300ms;
  border-radius: 10%; /* This makes the image round */
  object-fit: cover; /* This ensures the image covers the frame without distortion */
}
.logo:hover {
  filter: drop-shadow(0 0 1em yellow);
}

.primaryRadial {
  background: radial-gradient(#ffd421, #a98d1a);
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1920px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .v-container {
    max-width: 1280px !important;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .v-container {
    max-width: 960px !important;
  }
}

.containerContent {
  justify-content: center;
  display: flex;
}

.panelContent {
  min-width: 50%;
  background: radial-gradient(rgba(0, 0, 0, 0.48), rgba(44, 41, 15, 0.48));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.6px);
  padding: 15px;
  margin: 20px;
}

label{
  color:whitesmoke;
}

label > a {
  color: yellow; /* Default and visited link color */
  cursor: pointer; /* Show pointer cursor on hover */
}

label > a:visited {
  color: black; /* Default and visited link color */
}

label > a:hover{
  color:white;
  transition: 200ms;
}